:root {
        --cor0: #060200;
        --cor1: #1E050C;
        --cor2: #898D8F;
        --cor3: #740416;
        --cor4: #626874;
        --cor5: #eeba0f75;
    
        --font-padrao:'Tektur', cursive;
        --font-destaque:'Bebas Neue', cursive;
        --font-tony: 'Tektur', cursive , bold;
}

* {
    margin: 0px;
    padding: 0px;
}   

body {
    background-color:var(--cor4);
}

nav {
    background-color: var(--cor1);
}

header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor3));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: var(--cor3);
    color: white;
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.226);
    font-family: 'Tektur', cursive;
}

header > p {
    font-family: 'Tektur', cursive;
    color: white;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.226);
}

nav {
    font-family: 'Tektur', cursive;
    background-color: var(--cor1);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(223, 10, 10, 0.349);
    text-align: center;
}

nav > a {
    font-family: 'Tektur', cursive;
    color: var(--cor3);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor1);
}

main {
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor3);
    font-family: var(--font-tony);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--font-tony);
    font-weight: normal;
    color: var(--cor3);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor5), transparent);
    text-indent: 8px;
}

main p {
    font-family: var(--font-tony);
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
 /* 

PARA INSERIR LINKS

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}
*/
main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}


main img {
    width: 50%;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;

}

footer {
    font-family: var(--font-tony);
    background-color: var(--cor1);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer > a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}





.personagens {
    width: 60%;
    margin: 15px;
    display: flex;
}

.spider {
    width: 45%;
    margin: 15px;
    display: flex;
}

.para {
    margin: 10px;
    text-align: center;
}

.music {
    margin-top: 50px;
    font-style: var(--font-tony);
    text-decoration: none;
    font-size: 25px;
}

.track {
    margin: 10px 0px;
}

iframe {
    margin-left: 5%;
}

.youtube {
    
    margin-bottom: 3%;
}